:root {
    --font-family: "Trirong", sans-serif;

    --primary-color: 183, 172, 232;
    --secondery-color: 123, 102, 217;
    --black: 0, 0, 0;

    --font-extra-small: 8px;
    --font-small: 14px;
    --font-medium: 16px;
    --font-large: 22px;
    --font-extra-large: 26px;

    --font-color: #000;

    --moblie-brekpoint: 480px;
    --tablet-brekpoint: 768px;
    --tablet-landscape-brekpoint: 1024px;
    --laptop-brekpoint: 1600px;

  }

  @media  (max-width: 479px) {
    :root {
      --font-large: 15px;
      --font-extra-large: 26px;
    }

  }