@import "default-theme.css";

body,html {
    margin: 0;
    padding: 0;
    color: var(--font-color); 
    font-family: var(--font-family);
    font-size: var(--font-medium);
}

.logo {
    cursor: pointer;
    height: 120px;
    display: inline-block;
}

/* Main Site Navigation */

nav{
    line-height: 120px;
    display: inline;
    float: right;
}

header::after{
    content: "";
    clear: both;
    display: block;
}

.nav-link li {
    display: inline-block;
    margin: 0px 5px;
}

.nav-link li:last-child {
    margin: 0px 30px 0 5px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
    padding: 10px 18px;
    text-decoration: none;
    color: var(--font-color);
}

.nav-link li a:hover,  .nav-link li a.selected{
    background-color: rgba(var(--primary-color), 1);
    border-radius: 40px;
    transition: all 0.8s ease 0s;
    color: var(--font-color);
}


/* Welcome image and messsge */

.welcome-image{
    position: relative;
}
.welcome-image img {
    width:100%; 
    height: 400px; 
    object-fit:scale-down;
    object-position: 30% 0%;
    background-color: rgba(var(--primary-color), 1);
}

.welcome-image h2{
    position: absolute;
    bottom: 10%;
    right: 30px;
    background: rgba(var(--primary-color), 0.6);
    width: 45%;
    font-size: var(--font-extra-large);
}


/* Left content navigation id */

.about::after, .resume::after, #project::after, #contact::after{
    content: "";
    clear: both;
    margin-bottom: 20px;
    display: block;
}

.about h2, .resume h2, #project h2, #contact h2{
    width: 25%;
    text-align: right;
    padding: 0 15px;
    font-size: var(--font-large);
    float: left;
}

.about p, .resume p, #project .project-items, #contact form{
    display: block;
    border-left: 5px solid rgba(var(--primary-color), 1);
    padding: 0px 40px 20px 40px;
    width: 75%;
    text-align: justify;
    float: right;
}


/* Projects */

#project .project-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#project .project-items a{
    position: relative;
    width: 49%;
    border: 5px solid rgba(var(--primary-color), 1);
    margin-bottom: 1%;
    height: 260px;
    color: rgba(var(--font-color),1);
    display: block;
}

#project .project-items a:hover::after{
    content: "";
    position: absolute;
    background-color: rgba(var(--black), 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#project .project-items a:first-child{
    width: 100%;
    height: 310px;
}

#project .project-items a figure{
    height: 250px;
}

#project .project-items a:first-child figure{
    height: 300px;
}

#project .project-items a figure img{
    object-fit: cover;
    width:100%;
    height: 250px;
}

#project .project-items a:first-child figure img{
    height: 300px; 
}

#project .project-items a figure div{
    position: absolute;
    bottom: 10%;
    padding: 5px 15px;
    background: rgba(var(--primary-color), 0.8);
}

#project .project-items a figure div h5, #project .project-items figure div p{
    background: rgba(var(--primary-color), 0);
}


/* Contact Form */

#contact form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact form h4{
    font-size: var(--font-large);
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#contact form div{
    width: 49%;
    margin-bottom: 5px;
}

#contact form div:nth-child(4), #contact form div:nth-child(5){
    width: 100%;
}

#contact form div:last-child{
    width: auto;
}

#contact form div input[type="submit"]{
    background-color: rgba(var(--primary-color), 1);
    cursor: pointer;
}

#contact form div input, #contact form div textarea{
    width: 100%;
    line-height: 30px;
    border: 2px solid rgba(var(--primary-color), 1);
    padding: 2px 10px;
    border-radius: 5px;
    font-family: var(--font-family);
}


/* Footer Social Media Links */
footer {
    background-color: rgba(var(--primary-color), 1);
}
.icons {
    display: flex;
    width: 0%;
    margin: 0 auto;
    background-color: rgba(var(--primary-color), 1);
}

.icons a {
    background-color: rgba(var(--primary-color), 1);

}

.icons a img {
    width: 50px;
    background-color: rgba(var(--primary-color), 1);

}

/* Media Query */
/* @media  (max-width:640px) {
   .logo img {
    display: flex;
   }
    .nav {
    float: none;

   }
    .nav-link a {
    padding: 8px 8px;

   }
   .welcome-image h2 {
    font-size: medium;
    width: 43%;
   }
   .about h2, #project h2, .resume h2, #contact h2 {
    font-size: medium;
    font-weight: 700;
   }
} */


@media  (max-width: 480px) {

    .about h2, .resume h2, #project h2, #contact h2{
        width: 100%;
        text-align: left;
        padding: 0 15px;
        font-size: var(--font-extra-large);
        float: none;
        padding: 0px 20px 10px 20px;
        border-bottom: 5px solid rgba(var(--primary-color), 1);
    }
    
    .about p, .resume p, #project .project-items, #contact form{
        display: block;
        border-top: 0px solid rgba(var(--primary-color), 1);
        border-left: 0;
        padding: 20px 20px 20px 20px;
        width: 100%;
        text-align: justify;
        float: none;
    }

    #project .project-items a{
        width: 100%;
        margin-bottom: 5%;
    } 

    #project .project-items a:first-child {
        width: 100%;
        height: 260px;
    }

    #project .project-items a:first-child figure {
        height: 250px;
    }

    #project .project-items a:first-child figure img {
        height: 250px;
    }

    #contact form div{
        width: 100%;
    }
}