* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c5d6c9;
}

body {
    margin: 0;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    color:black; 
}

/* Navagation and Logo */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 3%;
    box-shadow: 1px 1px 4px 0 rgba (0, 0, 0, .2);
    z-index: 3;
}

.logo {
    cursor: pointer;
    width: 200px;
    height: 120px;
    order: 1;
    margin-right: auto;
}
.link-icon {
    display: none;
}

nav {
    order: 4;
}

.nav-link {
    list-style: none;
    overflow: hidden; 
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: #064F1A;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #064F1A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba (163, 100, 138)
}

.contact {
    order: 4;
}

/* Main Intro */

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.welcome-image {
    height: 50em;
    width: 100%;
    margin-bottom: 20px;
    background-image: url(../images/profile/hi.png);
    background-color: #064F1A;
    background-size: cover;
    background-position: center;
}

.welcome-msg {
    border-style: white;
    padding: 50px;
    text-align: center;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
}

.welcome-msg h2 {
    font-size: large;
}

.welcome-msg p {
    font-size: medium;
}

/* Main Section */

.main-content {
    margin: 150px 0px;
    width: 100%;
    padding: 50px;
    text-align: center;
    border-style: solid;
    color: black;
    float: right;
}

.main-content h2 {
    position: relative;
    margin-inline-start: 40px;
    display: inline-flex; 
    padding: 10px;
    background-color: #48584c;
    color: white;
    border: 2px solid green;
    border-radius: 8px;
    float: left;

}

.nav-link-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    margin: 30px;
    color: white;
    border-style: dotted;
    float: right;
}

.nav-link-title .avatar img {
    width: 250px;
    height: 250px;
    float: left;
    position: left;
}

.nav-link-title .profile-info {
    float: right;
}

.nav-link-title p {
    font-size: 20px;
    margin: 25px;
    padding: 15px;

}

.project-container {
    border-style: double;
    margin: 2px;
    padding: 5px;
    display: block;
}

.project-container .project-label-card {
    border-style: solid;
}

.project-container .project-label-card .project-header {
    color: white;
    position: relative;
}

.project-container .project-label-card .project-body p {
    color: white; 
    font-size: small;
}

.icons img {
    width: 40px; 
    height: 40px;
    margin: 0px 3px;
}
